<div class="container">
    <h2>Registration Form</h2>
    <form class="form">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" />
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" />
      </mat-form-field>
  
      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" />
      </mat-form-field>
  
      <button mat-raised-button color="primary">Register</button>
    </form>
  </div>
  

   <!-- <div class="{{ classes.container }}">
    <h2 class="{{ classes.formHeading }}">Registration Form</h2>
    <form [formGroup]="registrationForm" class="{{ classes.form }}" (ngSubmit)="onSubmit()">
      <mat-form-field class="{{ classes.formField }}">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter your name" formControlName="name" />
        <mat-error *ngIf="registrationForm.get('name').invalid">{{ getErrorMessage('name') }}</mat-error>
      </mat-form-field>

      <mat-form-field class="{{ classes.formField }}">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email" />
        <mat-error *ngIf="registrationForm.get('email').invalid">{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>

      <mat-form-field class="{{ classes.formField }}">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" formControlName="password" />
        <mat-error *ngIf="registrationForm.get('password').invalid">{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="{{ classes.registerButton }}" [disabled]="registrationForm.invalid">Register</button>
    </form>
  </div>
   -->