
   .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
  
  .form-field {
    margin-bottom: 16px;
  }
  .form-heading {
    text-align: center;
  }